# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/tmp
/out-tsc
/bazel-out

# Node
/front-end/dist
/front-end/node_modules
/front-end/npm-debug.log
/front-end/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/front-end/.vscode/*
/front-end/!.vscode/settings.json
/front-end/!.vscode/tasks.json
/front-end/!.vscode/launch.json
/front-end/!.vscode/extensions.json
/front-end/.history/*

# Miscellaneous
/front-end/.angular/cache
/front-end/.sass-cache/
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-end/testem.log
/front-end/typings

# System files
.DS_Store
Thumbs.db

#laravel 
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode