<div class="col-12">
    <div class="card">
        <div class="card-body" style="margin-bottom: -20px;">
            <h5 class="card-title">Productos Destacados</h5>
            <hr>
            <div class="col-12">
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button *ngFor="let slideIndex of slides" type="button" [attr.data-bs-target]="'#demo'" [attr.data-bs-slide-to]="slideIndex" [class.active]="slideIndex === 0"></button>
                    </div>

                    <div class="carousel-inner" style="border-radius: 5px !important;">
                        <div *ngFor="let data of data_carrousel" [ngClass]="['carousel-item', data.active ? 'active' : '']">
                            <img src="{{data.img}}" alt="Los Angeles" class="d-block w-100">
                            <div class="carousel-caption">
                                <h3>{{data.title}}</h3>
                                <p>{{data.description}}</p>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <br>&nbsp;
        </div>
    </div>
</div>

<section *ngFor="let producto of this.productosDestacados">
    <!--app-producto [idProducto]="producto.id"></!--app-producto-->
</section>