.card-precio {
    position: -webkit-sticky;
	position: sticky;
	top: 35px;
	z-index: 900;
}

.card-precio .card-body{
    padding-top: 15px;
    margin-bottom: -20px;
}

.apartado-detalle-envio {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}

.direccion {
    margin-bottom: -35px !important;
}

.apartado-titulo-detalle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apartado-titulo-detalle > span {
    margin-left: auto;
}