<section class="section profile formsWTitle">
    <div class="row">
        <div class="col-12">
            <div class="col-lg-9 col-12 apartado-detalle-envio">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12 direccion">
                            <h5 class="t-bold apartado-titulo-detalle">
                                Dirección
                                <span class="badge border-primary border-1 text-primary">Cambiar</span>
                            </h5>
                            <p>
                                Calzada Guadalupe Victoria<br>
                                San Pedro Cholula<br>
                                Ocoyoacac, Mex.<br>
                                52757<br>
                            </p>
                        </div>
                        <div class="col-12 direccion">
                            <hr>
                            <h5 class="t-bold apartado-titulo-detalle">
                                Métdodo de pago
                                <span class="badge border-primary border-1 text-primary">Cambiar</span>
                            </h5>
                            <p>
                                Pagar con Visa <b>*2634</b><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 card-precio">
                <div class="card">
                    <div class="card-body">
                        <h5 class="t-bold">Confirmación del Pedido</h5>
                        <p style="color:gray">
                            Subtotal(1 producto):<b> $231.09</b><br>
                            <span class="t-bold" style="color:brown">Total (IVA incluido, en caso de ser aplicable): $27,770.09</span>
                        </p>
                        <button class="btn btn-primary form-control">Realizar pedido y pagar</button>
                        <br>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>