<div class="modal-body">
    <div class="pagetitle">
        <h1>Seguimiento del Pedido #PE-{{idDetalle}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Pedido</li>
                <li class="breadcrumb-item active">Seguimiento</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard formsWTitle">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" *ngIf="this.seguimientoPedido.fkStatus == 1">Etrega <span>| {{this.seguimientoPedido.fechaEntregaEstimada ?? this.seguimientoPedido.fechaRetrazo}}</span></h5>
                        <h5 class="card-title" *ngIf="this.seguimientoPedido.fkStatus == 2">Enviado <span>| {{this.seguimientoPedido.fechaEnvio}}</span></h5>
                        <h5 class="card-title" *ngIf="this.seguimientoPedido.fkStatus == 3">Entregado <span>| {{this.seguimientoPedido.fechaEntrega}}</span></h5>

                        <div class="activity">
                            <div class="activity-item d-flex">
                                <div class="activite-label">{{this.seguimientoPedido.fechaPedido}}</div>
                                <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                                <div class="activity-content">
                                    Se realizó el pago del pedido
                                </div>
                            </div>

                            <div class="activity-item d-flex">
                                <div class="activite-label">{{this.seguimientoPedido.fechaPedido}}</div>
                                <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                                <div class="activity-content">
                                    Se esta procesando tu pedido
                                </div>
                            </div>

                            <div class="activity-item d-flex" *ngIf="this.seguimientoPedido.fechaEnvio != null">
                                <div class="activite-label">{{this.seguimientoPedido.fechaEnvio}}</div>
                                <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                                <div class="activity-content">
                                    Tu pedido ha sido enviado con uno de nuestros repartidores
                                </div>
                            </div>

                            <div class="activity-item d-flex" *ngIf="this.seguimientoPedido.fechaEnvio != null">
                                <div class="activite-label">{{this.seguimientoPedido.fechaEnvio}}</div>
                                <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                                <div class="activity-content">
                                    Tu pedido está en camino
                                </div>
                            </div>

                            <div class="activity-item d-flex" *ngIf="this.seguimientoPedido.fechaEntrega != null">
                                <div class="activite-label">{{this.seguimientoPedido.fechaEntrega}}</div>
                                <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                                <div class="activity-content">
                                    Tu pedido ha sido entregado, esperamos disfrutes mucho de tu compra
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="abrirModal()"><b>Volver</b></button>
</div>