<a class="nav-link nav-icon" href="javascript:void(0)" data-bs-toggle="dropdown" style="color: white;" (click)="obtenerItemsCarritoCompras()">
    <i class="bi bi-cart"></i>
    <span class="badge bg-info badge-number t-bold">{{this.noItemsCarrito}}</span>
</a>

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
    <li class="dropdown-header">
        Tienes {{this.noItemsCarrito}} {{this.noItemsCarrito == 1 ? 'artículo' : 'artículos' }} en tu carrito
        <a *ngIf="noItemsCarrito > 3" href="javascript:void(0)" (click)="this.abrirModal('detalleCompra')"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todo</span></a>
    </li>
    <section *ngIf="this.noItemsCarrito > 0">
        <li><hr class="dropdown-divider"></li>

        <section *ngFor="let producto of itemsCarrito; let i = index">
            <ng-container *ngIf="i < 3">
                <li class="message-item">
                    <a href="javascript:void(0)">
                        <div class="w-30 t-center t-center d-flex justify-content-center align-items-center">
                            <img src="{{producto.imagen}}" class="img-fluid rounded-start">
                        </div>
                        <div class="w-70">
                            <h4>{{producto.nombre}}</h4>
                            <p>C/U: $ {{(producto.precio - (producto.precio * producto.descuento)) | number:'1.2-2'}}</p>
                            <p>Cantidad: {{producto.cantidad}}</p>
                            <p *ngIf="producto.cantidad > 1">Total: $ {{((producto.precio - (producto.precio * producto.descuento)) * producto.cantidad) | number:'1.2-2'}}</p>
                        </div>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
            </ng-container>
        </section>        

        <section *ngIf="this.noItemsCarrito > 3">
            <li class="message-item t-center">
                <div>
                    <h4 class="t-bold" align="center">...</h4>
                </div>
            </li>
    
            <li><hr class="dropdown-divider"></li>
        </section>
    
        <li class="dropdown-footer" (click)="this.abrirModal('detalleCompra')"><a href="javascript:void(0)">Proceder a la compra</a></li>
    </section>
</ul>