<div class="col-12 apartado-producto section dashboard">
    <div class="card">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-12 t-center d-flex justify-content-center align-items-center">
                <img src="{{producto.imagen}}" class="img-fluid rounded-start producto" alt="...">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-7 col-12 producto-venta-tablet">
                <div class="col-sm-8 col-12 f-left sp-col">
                    <h5 class="content-porduct card-title" style="margin-top: -15px; margin-left: -15px;">{{producto.nombre}}</h5>

                    <div class="ui-search-price ui-search-price--size-medium" style="margin-left: -15px; margin-top: 10px;">
                        <div class="ui-search-price__second-line">
                            <span
                                class="andes-money-amount ui-search-price__part ui-search-price__part--medium andes-money-amount--cents-superscript"
                                style="font-size:24px" role="img" aria-label="124 pesos con 20 centavos"
                                aria-roledescription="Precio">
                                <span class="andes-money-amount__currency-symbol" aria-hidden="true">
                                    <form autocomplete="off" [formGroup]="formVentaProducto" class="form-wo-stl">
                                        Cantidad: <input #cantidadInput type="number" formControlName="cantidad"
                                            class="cantidad" (keypress)="soloNumeros($event)" (input)="validarStock()">
                                    </form>
                                </span><br>
                                <span class="andes-money-amount__currency-symbol" aria-hidden="true">
                                    ({{producto.stock}}) disponibles
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-12 sp-col f-left ui-search-price__second-line sp-text t-bold" style="text-align: right !important;">
                    <s class="andes-money-amount ui-search-price__part ui-search-price__part--small ui-search-price__original-value andes-money-amount--previous andes-money-amount--cents-superscript andes-money-amount--compact"
                        style="font-size:16px" role="img" aria-label="Antes: 138 pesos" aria-roledescription="Precio">
                        <span class="andes-money-amount__currency-symbol" aria-hidden="true">$</span>
                        <span class="andes-money-amount__fraction" aria-hidden="true">{{producto.precio |
                            number:'1.2-2'}}</span>
                    </s>
                    <span class="ui-search-price__second-line__label" *ngIf="producto.descuento  != 0">
                        &nbsp;<span class="ui-search-price__discount">{{producto.descuento*100}}% OFF</span>
                    </span>
                    <div class="ui-search-price__second-line">
                        <span
                            class="andes-money-amount ui-search-price__part ui-search-price__part--medium andes-money-amount--cents-superscript"
                            style="font-size:24px" role="img" aria-label="124 pesos con 20 centavos"
                            aria-roledescription="Precio">
                            <span class="andes-money-amount__currency-symbol" aria-hidden="true">$</span>
                            <span class="andes-money-amount__integer" aria-hidden="true">{{ ((producto.precio -
                                (producto.precio * producto.descuento)) | number:'1.0-0') }}</span>
                            <span class="andes-money-amount__decimal" aria-hidden="true">.{{ (producto.precio -
                                (producto.precio * producto.descuento)).toFixed(2).split('.')[1] }}</span>
                        </span>
                    </div>
                    <h3 class="btn-eliminar-prod" (click)="this.eliminarItemCompra(producto.id)"><i class="bi bi-trash3-fill" style="color: red;"></i></h3>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-9 col-sm-7 col-12 producto-venta-celular content-porduct">
                <div class="col-sm-8 col-12 f-left sp-col">
                    <h5 class="card-title" style="margin-top: -15px; margin-left: -15px; text-align: center;">{{producto.nombre}}</h5>

                    <div class="ui-search-price ui-search-price--size-medium" style="margin-left: -15px; margin-top: 10px;">
                        <div class="ui-search-price__second-line">
                            <span
                                class="andes-money-amount ui-search-price__part ui-search-price__part--medium andes-money-amount--cents-superscript"
                                style="font-size:24px" role="img" aria-label="124 pesos con 20 centavos"
                                aria-roledescription="Precio">
                                <span class="andes-money-amount__currency-symbol" aria-hidden="true">
                                    <form autocomplete="off" [formGroup]="formVentaProducto" class="form-wo-stl">
                                        Cantidad: <input #cantidadInput type="number" formControlName="cantidad"
                                            class="cantidad" (keypress)="soloNumeros($event)" (input)="validarStock()">
                                    </form>
                                </span><br>
                                <span class="andes-money-amount__currency-symbol" aria-hidden="true">
                                    ({{producto.stock}}) disponibles
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-12 sp-col f-left ui-search-price__second-line sp-text t-bold" style="margin-top: 0px !important;">
                    <s class="andes-money-amount ui-search-price__part ui-search-price__part--small ui-search-price__original-value andes-money-amount--previous andes-money-amount--cents-superscript andes-money-amount--compact"
                        style="font-size:16px" role="img" aria-label="Antes: 138 pesos" aria-roledescription="Precio">
                        <span class="andes-money-amount__currency-symbol" aria-hidden="true">$</span>
                        <span class="andes-money-amount__fraction" aria-hidden="true">{{producto.precio |
                            number:'1.2-2'}}</span>
                    </s>
                    <span class="ui-search-price__second-line__label" *ngIf="producto.descuento  != 0">
                        &nbsp;<span class="ui-search-price__discount">{{producto.descuento*100}}% OFF</span>
                    </span>
                    <div class="ui-search-price__second-line">
                        <span
                            class="andes-money-amount ui-search-price__part ui-search-price__part--medium andes-money-amount--cents-superscript"
                            style="font-size:24px" role="img" aria-label="124 pesos con 20 centavos"
                            aria-roledescription="Precio">
                            <span class="andes-money-amount__currency-symbol" aria-hidden="true">$</span>
                            <span class="andes-money-amount__integer" aria-hidden="true">{{ ((producto.precio -
                                (producto.precio * producto.descuento)) | number:'1.0-0') }}</span>
                            <span class="andes-money-amount__decimal" aria-hidden="true">.{{ (producto.precio -
                                (producto.precio * producto.descuento)).toFixed(2).split('.')[1] }}</span>
                        </span>
                    </div>
                    <h5 class="btn-eliminar-prod" (click)="this.eliminarItemCompra(producto.id)"><span class="badge border-danger border-1 text-danger">Eliminar</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>