.apartado-producto {
    margin-top: 30px !important;
}

.andes-money-amount {
    font-size: 15px !important;
}

.sp-text {
    padding-right: 10px;
}

.card-title {
    margin-bottom: -10px;
}

.cantidad {
    text-align: center;
    border-radius: 10px;
    height: 15px;
    width: 70px;
    background: rgb(238, 238, 238);
    border: none;
}

.cantidad :focus {
    border: none;
}

.cantidad :active {
    border: none;
}

@media (max-width: 575px) {
	.card-title {
        padding-left: 10px !important;
	}

    .producto-venta-tablet {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 575px) {
    .producto-venta-celular {
        display: none;
        visibility: hidden;
    }
}

.form-wo-stl {
    margin-bottom: -20px !important;
}

.sp-col {
	float: left !important;
	padding-bottom: -15px !important;
    padding-top: -15px !important;
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}